<!DOCTYPE html>
<html lang="vi">

<head> 
  <!-- <link rel="stylesheet" href="./css/bootstrap.min.css"> -->
</head>

<body>
  <main id="main">
    <div class="container">
      <div class="book-categories" id="categories">
        <a href="/books" id="category-all">Tất cả</a>
        <% categories.forEach(function(category) { %>
        <a href="/books?categoryId=<%= category._id %>" id="<%= category._id %>"><%= category.name %></a>
        <% }); %>
      </div>

      <!-- <div class="clearfix-"></div> -->

      <% if (books.length > 0) { %>
      <div class="row gx-3 gy-3">
        <% books.forEach(function(book) { %>
        <div class="col-12 col-md-6 col-lg-4">
          <%- include('../books/components/book-item', { book }); %>
        </div>
        <% }); %>
      </div>
      <% } else { %>
      <div class="alert alert-warning mb-0" role="alert">
        Không tìm thấy sản phẩm!
      </div>
      <% } %> 
      <div class="clearfix-56"></div>
    </div>
  </main>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#navPrimary [itemid="books"]').addClass('active');
      $('#categories #<%= categoryId || "category-all" %>').addClass(
        'active'
      );
    });
  </script>
</body>

</html>